@import "~@csstools/normalize.css";
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import "~antd/dist/antd.css";

html {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
}
